
@import "tailwindcss";


@font-face {
  font-family: "Vazirmatn";
  src: url("/assets/fonts/Vazirmatn-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("/assets/fonts/Vazirmatn-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("/assets/fonts/Vazirmatn-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.dark {
  background-color: #121212;
  color: #fff;
}

html.dark {
  background-color: #0f1115 !important;
  color-scheme: dark;
}
html.light {
  background-color: #f4f5f7 !important;
  color-scheme: light;
}

/*️⃣ ۴ — حذف تداخل با next-themes */
:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */



body {
  direction: rtl;
  text-align: right;
  background: var(--background);
  color: var(--foreground);
  font-family: "Vazirmatn", Arial, Helvetica, sans-serif;
}


[data-theme="dark"] body {
  background: #0f1115 !important;
}
[data-theme="light"] body {
  background: #f4f5f7 !important;
}
